.header {
  height: 60px;
  border-bottom: 1px solid #f1f1f1;
  .logo {
    height: 60px;
    margin: 0 24px 0 0;
    float: left;
    > a {
      height: 60px;
      display: table-cell;
      vertical-align: middle;
    }
  }
  .nav {
    float: left;
    padding: 0;
    margin: 0;
    height: 60px;
    line-height: 60px;
    .nav_item {
      height: 100%;
      float: left;
      padding: 0 18px;
      list-style: none;
      > a {
        display: block;
        color: #71777c;
        &:hover {
          color: #007fff;
        }
      }
      .active {
        color: #007fff;
      }
    }
  }
}
